body {
	font-family: 'Lato', arial, sans-serif;
	color: #434343;
	background: #dae3e7;
	font-size: 16px;
}

#message-viewer {

	background: white;
	padding:10px;
	width: 100%;
	color: black;

	border: 1px solid #ddd;
	border-top:none;
}

#file-viewer {

	background: white;
	padding:10px;
	width: 100%;
	color: black;

	border: 1px solid #ddd;
	border-top:none;
}

#send-message {
	border-radius: 0px 0px 4px 4px;
	border-top:0;
}

.redactor-box {
	margin-top:15px;
	border: 1px solid #245580;
	border-bottom: none;
	margin-bottom: 0;
}

.active-case{
	background: rgba(0, 128, 0, 0.49);
}